<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <title>Lossless image coding benchmarks</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid  justify-content-between">
      <div>
        <a class="navbar-brand" href="#">Lossless Image Coding Benchmarks</a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="https://github.com/sandflow/libench">Get the code</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/sandflow/libench/issues">Report an issue</a>
        </li>
      </ul>
    </div>
  </nav>
  <main>

    <section class="col-lg-6 mx-auto py-5">
      <h2 class="fw-bold text-center">Lossless Image Coding Benchmarks</h2>

      <p class="mt-4 lead">Lossless <a href="#encoding">encoding</a> and <a href="decoding">decoding</a> benchmarks
        using the <a href="https://qoiformat.org/benchmark/">QOI image set</a>
        and frames from the <a href="http://download.opencontent.netflix.com/?prefix=Meridian/">Netflix
          Meridian</a> test reel <a
          href="https://libench-images.s3.amazonaws.com/meridian_500_skip_frames.zip">(download)</a>. All images are
        RGB(A) and 8 bits per pixel component. </p>

      <p>Each plot is for a set of images with similar characteristics.
        The <em>vertical axis</em> is the <em>average size in bytes</em> of a coded image in the set. The <em>horizontal
          axis</em> is the <em>average encode or decode time in seconds</em> of an image in the set.
        The closer to the bottom left of each plot the faster and more coding efficient.</p>

      <p class="mt-4">For each combination of source image and codec, the <a href="https://github.com/sandflow/libench">benchmark</a> loads the image in memory and
        encodes/decodes it
        using the codec. The decoded
        image is checked against the source image to confirm they are bit-for-bit identical. Encode and decode times are
        averaged over three runs. Codecs are ran single-threaded.</p>

      <table class="table table-striped table-sm caption-top">
        <caption class="text-centered">Lossless codecs used by the benchmark</caption>
        <thead class="table-light">
          <tr>
            <th>Label</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>qoi</code></td>
            <td><a href="https://github.com/phoboslab/qoi">Quite OK Image Format</a></td>
          </tr>
          <tr>
            <td><code>jxl</code></td>
            <td>JPEG XL using <a href="https://github.com/libjxl/libjxl">libjxl</a></code>.
            </td>
          </tr>
          <tr>
            <td><code>png</code></td>
            <td>Portable Network Graphics (PNG) using <a href="https://github.com/lvandeve/lodepng">LodePNG</a>
            </td>
          </tr>
          <tr>
            <td><code>j2k_ht_ojph</code></td>
            <td>JPEG 2000 Part 15 (High-Throughput JPEG 2000) using
              <a href="https://github.com/aous72/OpenJPH">OpenJPH</a>
            </td>
          </tr>
          <tr>
            <td><code>j2k_ht_kdu</code></td>
            <td>JPEG 2000 Part 15 (High-Throughput JPEG 2000) using
              <a href="https://kakadusoftware.com/">Kakadu</a> (commercial library)
            </td>
          </tr>
          <tr>
            <td><code>j2k_1_kdu</code></td>
            <td>JPEG 2000 Part 1 using <a href="https://kakadusoftware.com/">Kakadu</a> (commercial library)</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="encoding" class="container">
      <h2 class="text-center">Encoding results</h2>
      <img class="img-fluid" src="encode-stats.png" />
    </section>


    <section id="decoding" class="container">
      <h2 class="text-center">Decoding results</h2>
      <img class="img-fluid" src="decode-stats.png" />
    </section>

  </main>

  <footer>
    <small class="text-muted">
      <p class="text-center">Version: <code>{{version}}</code></p>
      <p class="text-center">Machine: {{machine}}</p>
      <p class="text-center">Date: {{date}}</p>
    </small>
  </footer>
</body>

</html>